**/*.aux
**/*.bcf
**/*.ilg
**/*.log
**/*.nlo
**/*.nls
**/*.out
**/*.toc
**/*.xml
**/.fuse_hidden*
**/.~lock.*
**/_*.tex
**/*.lox
**/*.pytxcode
**/*.lof
**/*.lol
**/*.lot
**/*.bbl
**/*.blg
**/*_600dpi.png
**/*_603dpi.png
**/*.mw
**/pythontex-files-_thesis-nice
**/*.nav
**/*.snm
**/*.tex.swp
tex/dsa-sucht-drogen.pdf
**/pairs.txt
**/consequences.tex